
.user-container {
    background-color: rgb(238, 162, 148);
    padding: 10px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin:1rem;
}

#user-img{
    height:100px;
    width:100px;
    
    border-radius: 60%;
}

p{
    font-size: 2rem;
    font-weight: bold;
}